html, body {
  font-family: 'Merriweather Sans', sans-serif;
}

.home {
  width: 100%;
  height: 100%;
}

#home {
  background: 
            linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.86)), 
            url("../img/craft-my-pc.jpg") center bottom no-repeat; 
  transform: translate3d(0px, 0px, 0px);
  padding-top: 15%;
  padding-bottom: 22%;
}

.intro-title {
  color:#ffffff;
  font-size: 55px;
}

.intro-text {
  color:#ffffff;
  font-size: 35px;
}

.logo {
	width: 30px;
	height: 30px;
	margin-left: 5%;
	margin-right: 5%;
}

nav {
  font-family: 'Work Sans', sans-serif;
}

nav .container {
	padding-top: 1%;
	padding-bottom: 1%;
}

.nav-item {
  margin-left: 5%;
  margin-right: 5%;
}

.bg-black {
  background-color: #1c1c1c;  
}

#navbarResponsive > ul > li {
  margin-right: 3%;
}

textarea {
	resize: none;
}

.home-img {
  filter: brightness(45%);
  width:100%;
  height:100%;
}

#sobre {
  padding-top: 10%;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.sobre-button {
  margin-top: 10%;
}

#craft {
  margin-bottom: 2%;
}

#teste-img {
  margin-left: 8%;
}

#why-craft {
  background-color: #d2404b;
  color: #fafafa;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.25rem;
}


/* Media Query para Iphone X */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .home p{
    margin-top: 3%;
    font-size: 26px;
  }

  #sobre {
    padding: 5%;
  }

  #sobre h2 {
    font-size: 35px;
  }

  #sobre p, #sobre ul > li{
    font-size: 20px;
  }

  .sobre-button{
    margin-top: 10%;
    padding-left: 30%;
    padding-right: 10%;
  }
}

/*Iphone 4, 5*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  .home p{
    margin-top: 3%;
    font-size: 26px;
  }

  #sobre {
    padding: 5%;
  }

  #sobre h2 {
    font-size: 35px;
  }

  #sobre p, #sobre ul > li{
    font-size: 20px;
  }

  .sobre-button{
    margin-top: 10%;
    padding-left: 30%;
    padding-right: 10%;
  }

}

/*Galaxy S5*/
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

  .home p{
    margin-top: 3%;
    font-size: 26px;
  }

  #sobre {
    padding: 5%;
  }

  #sobre h2 {
    font-size: 35px;
  }

  #sobre p, #sobre ul > li{
    font-size: 20px;
  }

  .sobre-button{
    margin-top: 10%;
    padding-left: 30%;
    padding-right: 10%;
  }
}
