html, body {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.home {
  width: 100%;
  height: 100%;
}

#home {
  background: 
            linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.86)), 
            url("../img/craft-my-pc.jpg") center bottom no-repeat; 
  transform: translate3d(0px, 0px, 0px);
  padding-top: 15%;
  padding-bottom: 22%;
}

.intro-title {
  color:#ffffff;
  font-size: 55px;
}

.intro-text {
  color:#ffffff;
  font-size: 35px;
}

.logo {
	width: 30px;
	height: 30px;
	margin-left: 5%;
	margin-right: 5%;
}

nav {
  font-family: 'Work Sans', sans-serif;
}

nav .container {
	padding-top: 1%;
	padding-bottom: 1%;
}

.nav-item > a {
  vertical-align: middle;
}

li {
  margin-top: 1%;
  margin-bottom: 1%;
}

.nav-item {
  margin-left: 5%;
  margin-right: 5%;
}

.bg-black {
  background-color: #1c1c1c;  
}

#navbarResponsive > ul > li {
  margin-right: 3%;
}

textarea {
	resize: none;
}

.home-img {
  filter: brightness(45%);
  width:100%;
  height:100%;
}

#sobre {
  padding-top: 10%;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.sobre-button {
  margin-top: 10%;
}

#craft {
  margin-bottom: 2%;
}

#teste-img {
  margin-left: 8%;
}

#why-craft {
  background-color: #d2404b;
  color: #fafafa;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.25rem;
}

.craft-intro {
  margin-top: 5%;
}

.craft-pc {
  background: linear-gradient(#2d2d38, #1c1c1c);
}

section.craft-pc > div {
  margin-top: 5%;
  margin-bottom: 5%;
}

.button {
  display: flex;
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
 
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  
  box-shadow: 2px 5px 10px var(--color-smoke);
}

.button:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button:active {
  transition: all 150ms linear;
  opacity: .75;
}

.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-regular {
  color: #202129;
  background-color: #f2f2f2;
}

.button.-regular:hover {
  background-color: #d2404b;
  color: #fafafa;
  opacity: 1;
}

.button.-regular:active {
  background-color: #d2404b;
  color: #fafafa;
  opacity: 1;
}

#conteudo-incluso h2, #conteudo-incluso p {
  color: #fafafa;
}

#start-button {
  width: 45%;
  height: 100px;
  margin-left: 27.5%;
  font-size: 1.25rem;
}

.dark {
  background-color: 
}


/* Media Query para Iphone X */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .home p{
    margin-top: 3%;
    font-size: 26px;
  }

  #sobre {
    padding: 5%;
  }

  #sobre h2 {
    font-size: 35px;
  }

  #sobre p, #sobre ul > li{
    font-size: 20px;
  }

  .sobre-button{
    margin-top: 10%;
    padding-left: 30%;
    padding-right: 10%;
  }
}

/*Iphone 4, 5*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  .home p{
    margin-top: 3%;
    font-size: 26px;
  }

  #sobre {
    padding: 5%;
  }

  #sobre h2 {
    font-size: 35px;
  }

  #sobre p, #sobre ul > li{
    font-size: 20px;
  }

  .sobre-button{
    margin-top: 10%;
    padding-left: 30%;
    padding-right: 10%;
  }

}

/*Galaxy S5*/
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

  .home p{
    margin-top: 3%;
    font-size: 26px;
  }

  #sobre {
    padding: 5%;
  }

  #sobre h2 {
    font-size: 35px;
  }

  #sobre p, #sobre ul > li{
    font-size: 20px;
  }

  .sobre-button{
    margin-top: 10%;
    padding-left: 30%;
    padding-right: 10%;
  }
}
