html, body {
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.home {
  width: 100%;
  height: 100%;
}

#home {
  background: 
            linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.86)), 
            url("../img/craft-my-pc.jpg") center bottom no-repeat; 
  transform: translate3d(0px, 0px, 0px);
  padding-top: 15%;
  padding-bottom: 22%;
}

.intro-title {
  font-family: 'Pacifico', cursive;
  color:#ffffff;
  font-size: 55px;
  margin-bottom: 2%;
}

.intro-text {
  color:#ffffff;
  font-size: 35px;
}

.logo {
	width: 125px;
	height: 80px;
	margin-left: 5%;
	margin-right: 5%;
}

nav {
  font-family: 'Work Sans', sans-serif;
}

nav .container {
	padding-top: 1%;
	padding-bottom: 1%;
}

.nav-item > a {
  vertical-align: middle;
}

li {
  margin-top: 1%;
  margin-bottom: 1%;
}

.nav-item {
  margin-left: 5%;
  margin-right: 5%;
}

.bg-black {
  background-color: #1c1c1c;  
}

.logo-text {
  font-family: 'Pacifico', cursive;
  color: #d2404b;
  font-size: 1.5em;
}

#navbarResponsive > ul > li {
  margin-right: 3%;
}

textarea {
	resize: none;
}

.home-img {
  filter: brightness(45%);
  width:100%;
  height:100%;
}

#sobre {
  padding-top: 10%;
  padding-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.sobre-button {
  margin-top: 10%;
}

#craft {
  margin-bottom: 2%;
}

#teste-img {
  margin-left: 8%;
}

#why-craft {
  background-color: #d2404b;
  color: #fafafa;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.25rem;
}

.craft-intro {
  margin-top: 5%;
  margin-bottom: 5%;
}

.craft-pc {
  background: linear-gradient(#2d2d38, #1c1c1c);
  height: 75%;
  width: 100%;
  padding-top: 9%;
  padding-bottom: 10%;
}

#conteudo-incluso > h2 {
  margin-bottom: 5%;
}

section.craft-pc > div {
  margin-top: 5%;
  margin-bottom: 5%;
}

.button {
  display: flex;
  overflow: hidden;

  margin: 10px;
  padding: 12px 12px;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  color: #fff;
  border: 0 none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  word-wrap: break-word !important;
  white-space: pre-line; 
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  
  box-shadow: 2px 5px 10px var(--color-smoke);
}

.button:hover {
  transition: all 150ms linear;
  opacity: .85;
}

.button:active {
  transition: all 150ms linear;
  opacity: .75;
}

.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button.-regular {
  color: #202129;
  background-color: #f2f2f2;
}

.button.-regular:hover {
  background-color: #d2404b;
  color: #fafafa;
  opacity: 1;
}

.button.-regular:active {
  background-color: #d2404b;
  color: #fafafa;
  opacity: 1;
}

#conteudo-incluso h1, #conteudo-incluso h2, #conteudo-incluso p {
  color: #fafafa;
}

#start-button {
  width: 45%;
  height: 100px;
  margin-left: 27.5%;
  font-size: 1.25rem;
  margin-top: 5%;
}

.dark {
  background-color: 
}

.btn-choice {
  height: 80px;
  margin-bottom: 5%;
  font-size: 21px;
}

.resultado-final {
  font-size: 45px;
}

.conteudo-final {
  font-size: 22px;
}

.beta {
  margin-top: 5%;
  font-size: 18px;
}

#resultado, #tipo-resultado {
  color: #d2404b;
}

.img-wip {
  margin-left: 40%;
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .craft-pc {
    padding-top: 20%;
    padding-bottom: 20%;
  }

  .btn-choice {
    margin-top: 10%;
  }
}
/* Media Query para Iphone X */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .home p{
    margin-top: 3%;
    font-size: 26px;
  }4
  #sobre {
    padding: 5%;
  }

  #sobre h2 {
    font-size: 35px;
  }

  #sobre p, #sobre ul > li{
    font-size: 20px;
  }

  .sobre-button{
    margin-top: 10%;
    padding-left: 30%;
    padding-right: 10%;
  }

  #start-button {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .craft-intro {
    margin: 3%;
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .title {
    font-size: 28px !important;
  }

  .subtitle {
    font-size: 20px !important;
  }

  #teste-img {
    margin-left: 0;
    margin-right: 0;
  }

  .sobre-button {
    padding: 5%;
    padding-left: 25%;
  }

  .craft-pc{
    padding-top: 20% !important;
    padding-bottom: 10% !important;
  }

  .btn-choice {
    margin-top: 5%;
    font-size: 20px;
  }

  #conteudo-incluso > h2 {
    margin-bottom: 10%;
  }

  .beta {
    margin-top: 7%;
  }

  .img-wip {
    margin-left: 16%;
    margin-top: 5%;
  }

  .logo-text {
    display: none;
  }

  .logo {
    width: 80px;
    height: 60px;
  }

  .intro-title {
    font-size: 50px;
    margin-top: 15%;
  }
}

/*Iphone 4, 5*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
  .home p{
    margin-top: 3%;
    font-size: 24px;
  }

  #sobre {
    padding: 5%;
  }

  #sobre h2 {
    font-size: 35px;
  }

  #sobre p, #sobre ul > li{
    font-size: 20px;
  }

  .sobre-button{
    margin-top: 10%;
    padding-left: 30%;
    padding-right: 10%;
  }

  #start-button {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .craft-intro {
    margin: 3%;
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .title {
    font-size: 28px !important;
  }

  .subtitle {
    font-size: 20px !important;
  }

  #teste-img {
    margin-left: 0;
    margin-right: 0;
  }

  .sobre-button {
    padding: 5%;
    padding-left: 25%;
  }

  .craft-pc{
    padding-top: 20% !important;
    padding-bottom: 10% !important;
  }

  .btn-choice {
    margin-top: 5%;
    font-size: 20px;
  }

  #conteudo-incluso > h2 {
    margin-bottom: 10%;
  }

  .beta {
    margin-top: 7%;
  }

  .img-wip {
    margin-left: 16%;
  }

  .logo-text {
    display: none;
  }

  .logo {
    width: 80px;
    height: 60px;
  }

  .intro-title {
    font-size: 50px;
    margin-top: 15%;
  }

}

/*Galaxy S5*/
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

  .home p{
    margin-top: 3%;
    font-size: 24px;
  }

  #sobre {
    padding: 5%;
  }

  #sobre h2 {
    font-size: 35px;
  }

  #sobre p, #sobre ul > li{
    font-size: 20px;
  }

  .sobre-button{
    margin-top: 10%;
    padding-left: 30%;
    padding-right: 10%;
  }

  #start-button {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .craft-intro {
    margin: 3%;
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .title {
    font-size: 28px !important;
  }

  .subtitle {
    font-size: 20px !important;
  }

  #teste-img {
    margin-left: 0;
    margin-right: 0;
  }

  .sobre-button {
    padding: 5%;
    padding-left: 25%;
  }

  .craft-pc{
    padding-top: 20% !important;
    padding-bottom: 10% !important;
  }

  .btn-choice {
    margin-top: 5%;
    font-size: 20px;
  }

  #conteudo-incluso > h2 {
    margin-bottom: 10%;
  }

  .beta {
    margin-top: 7%;
  }

  .img-wip {
    margin-left: 16%;
  }

  .logo-text {
    display: none;
  }

  .logo {
    width: 80px;
    height: 60px;
  }

  .intro-title {
    font-size: 50px;
    margin-top: 15%;
  }
}
