<h2>Quais programas são mais parecidos com os que você precisa no seu curso?</h2>
<div class="row">
	<div class="col-md-4">
		<div id="estudos-medio-fraco" class="button -regular center btn-choice">Codeblocks</div>
	</div>
	<div class="col-md-4">
		<div id="estudos-medio-medio" class="button -regular center btn-choice">NetBeans, Eclipse, AutoCAD</div>
	</div>
	<div class="col-md-4">
		<div id="estudos-medio-forte" class="button -regular center btn-choice">CorelDraw, Photoshop</div>
	</div>
</div>
