<h2>Quais programas são mais parecidos com os que você precisa no seu curso?</h2>
<div class="row">
	<div class="col-md-4">
		<div id="estudos-pesado-fraco" class="button -regular center btn-choice">After Effects, edições de imagem</div>
	</div>
	<div class="col-md-4">
		<div id="estudos-pesado-medio" class="button -regular center btn-choice">Edições de vídeo, SonyVegas</div>
	</div>
	<div class="col-md-4">
		<div id="estudos-pesado-forte" class="button -regular center btn-choice">Visual Studio 17, Modelagem de personagens</div>
	</div>
</div>
