<h2>Quais jogos são mais parecidos com os que você deseja jogar?</h2>
<div class="row">
	<div class="col-md-4">
		<div id="medio-fraco" class="button -regular center btn-choice">Portal, Don't Starve, Slender</div>
	</div>
	<div class="col-md-4">
		<div id="medio-medio" class="button -regular center btn-choice">Need For Speed Undercover, Portal 2</div>
	</div>
	<div class="col-md-4">
		<div id="medio-forte" class="button -regular center btn-choice">FIFA 14, Battlefield 3, GTA 4</div>
	</div>
</div>
