<h2>Quais jogos são mais parecidos com os que você deseja jogar?</h2>
<div class="row">
	<div class="col-md-4">
		<div id="jogos-leve-fraco" class="button -regular center btn-choice">Hearthstone, League of Legends, World of Tanks</div>
	</div>
	<div class="col-md-4">
		<div id="jogos-leve-medio" class="button -regular center btn-choice">Minecraft, Counter Strike: G.O., GTA San Andreas</div>
	</div>
	<div class="col-md-4">
		<div id="jogos-leve-forte" class="button -regular center btn-choice">Dota 2, Fortnite, Paladins</div>
	</div>
</div>
