<h2>Quais jogos são mais parecidos com os que você deseja jogar?</h2>
<div class="row">
	<div class="col-md-4">
		<div id="jogos-medio-fraco" class="button -regular center btn-choice">Overwatch, Tom Clancy's Rainbow Six Siege, FIFA 18</div>
	</div>
	<div class="col-md-4">
		<div id="jogos-medio-medio" class="button -regular center btn-choice">Civilization VI, Ark: Survival Evolved, Grand Theft Auto V</div>
	</div>
	<div class="col-md-4">
		<div id="jogos-medio-forte" class="button -regular center btn-choice">Battlefield 1, PlayerUnknown's Battlegrounds, Call of Duty: BO3</div>
	</div>
</div>
