<h2>Quais jogos são mais parecidos com os que você deseja jogar?</h2>
<div class="row">
	<div class="col-md-4">
		<div id="leve-fraco" class="button -regular center btn-choice">Minecraft/Age of Empires/Tibia</div>
	</div>
	<div class="col-md-4">
		<div id="leve-medio" class="button -regular center btn-choice">GTA San Andreas/Need For Speed Carbon</div>
	</div>
	<div class="col-md-4">
		<div id="leve-forte" class="button -regular center btn-choice">Portal/Battlefield 2/FIFA 10</div>
	</div>
</div>
