<h2 class="resultado-final">Resultados finais</h2>
<div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">

			<div id="resultado" class="carousel-inner">
			</div>
			
		</div>
	</div>
	<!-- Controls -->
	 <a class="left carousel-control" href="#text-carousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	 <a class="right carousel-control" href="#text-carousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
</div>