<h2>Qual a função de programa mais parecida com as que você precisa?</h2>
<div class="row">
	<div class="col-md-4">
		<div id="trabalho-leve-fraco" class="button -regular center btn-choice">Controle de planilhas, edição de documentos, envio de e-mails</div>
	</div>
	<div class="col-md-4">
		<div id="trabalho-leve-medio" class="button -regular center btn-choice">Manipulação de dados em planilhas, desenvolvimento de softwares</div>
	</div>
	<div class="col-md-4">
		<div id="trabalho-leve-forte" class="button -regular center btn-choice">Simulação de sistemas operacionais móveis, criar músicas</div>
	</div>
</div>