<h2>Das opções abaixo, qual mais se parece com seu trabalho?</h2>
<div class="row">
	<div class="col-md-4">
		<div id="trabalho-leves" class="button -regular center btn-choice">Setor administrativo, escritórios</div>
	</div>
	<div class="col-md-4">
		<div id="trabalho-medios" class="button -regular center btn-choice">Desenvolvimento de softwares, gestão de dados</div>
	</div>
	<div class="col-md-4">
		<div id="trabalho-pesados" class="button -regular center btn-choice">Gamer, Youtuber, LiveStreamer, VideoMaker</div>
	</div>
</div>
