<h2>Qual a função de programa mais parecida com as que você precisa?</h2>
<div class="row">
	<div class="col-md-4">
		<div id="trabalho-pesado-fraco" class="button -regular center btn-choice">Servidor de dados</div>
	</div>
	<div class="col-md-4">
		<div id="trabalho-pesado-medio" class="button -regular center btn-choice">Edição de fotos e vídeos, PowerBI</div>
	</div>
	<div class="col-md-4">
		<div id="trabalho-pesado-forte" class="button -regular center btn-choice">Modelagem 3D, animações, gravação de vídeo, design gráfico</div>
	</div>
</div>
