<h2>Qual a função de programa mais parecida com as que você precisa?</h2>
<div class="row">
	<div class="col-md-4">
		<div id="trabalho-medio-fraco" class="button -regular center btn-choice">Gestão de cadastros em uma empresa</div>
	</div>
	<div class="col-md-4">
		<div id="trabalho-medio-medio" class="button -regular center btn-choice">Desenvolvimento de programas</div>
	</div>
	<div class="col-md-4">
		<div id="trabalho-medio-forte" class="button -regular center btn-choice">Edições de imagens</div>
	</div>
</div>
